<header>
    <div class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
        <div class="col-4 text-center">
            <a class="text-dark header-logo" href="{% url 'index' %}">Simple demo store</a>
        </div>
        <div class="navbar-nav-scroll">
            <ul class="navbar-nav bd-navbar-nav flex-row nav-tabs">
                <li class="nav-item">
                    <a class="nav-link header-text text-dark" title="Главная" href="{% url 'index' %}">
                        Главная
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link header-text text-dark" title="Каталог" href="{% url 'product-list' %}">
                        Каталог
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
